body {
	background-color: azure;
}

#page-header {
	border-bottom: solid black 2px;
	padding: 15px 0;
	background-color: teal;

}

.list-items {
	list-style: none;
}

.poster {
	vertical-align: top;
}

a {
	text-decoration: none;
}

img {
	height: 200px;
}

.onesheet {
	height: 500px;
	width: 300px;
	margin-top: 50px;
}

#info {
	margin-left: 25px;
	margin-top: 50px;
}

 h1 {
 	font-size: 3.5em;
 	margin: 0;
	color: gainsboro;
}

#more {
	margin-right: 20px;
	padding-right: 0;
	margin-left: 0;
	font-size: 16px;
	color: ghostwhite;
}

#trailer {
	margin-top: 75px;
	height: 50px;
	width: 200px;
	font-size: 1em;
	margin-bottom: 100px;
	background-color: teal;
	color: gainsboro;
	outline: none;
}

#back {
	height: 25px;
	border-radius: 10%;
	background-color: wheat;
	color: teal;
	outline: none;
}

.category {
	text-decoration: underline;
}

.category,
.list-items {
	margin-left: 75px;
}

@media (max-width: 400px) {
	.onesheet {
		width: 84%;
	}
}
